
/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0; 
    display: flex;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px; 
    box-sizing: border-box;
}

/*********** Header ***********/

header {
    margin-top: 0;
    margin-bottom: 50px;
    padding: 0;
}

h1 {
    margin: 0 0 5px; 
    font-size: 22px;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    margin: 0 auto;
    width: 100%;
    padding-top: 0;
}


/* Logo */
header .logo img {
    display: block;     /* enlève le petit gap inline */
    height: 25px;       /* taille maquette */
    width: auto;
    margin-top: 30px;
    
}

.nav-links {
    display: flex;
    gap: 68px;
}

.nav-links a {
    display: inline-block;
    position: relative;
    padding-top: 16px;
    font-size: 16px;
    font-weight: 400;
    color: black;

    border-top: 2px solid transparent; /* ← ligne “pré-réservée” */
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--main-color);
    border-top-color: var(--main-color);
}

.nav-links a.active {
    color: var(--main-color);
    border-top-color: var(--main-color);
}



/*********** Formulaire ***********/

          
.subtitle {
    margin: 10px 0 30px;    
}      

.research-box {
  display: inline-flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 25px;
}

/* icone */
.icon-location {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: auto;
  background-color: #F2F2F2;
  border-radius: 14px 0 0 14px;
}

.fa-location-dot {
  font-size: 18px;
  color: black;
}

/* input */
.research-bar {
  padding: 0 0 0 20px;
  height: 50px;
  width: 220px;
  border: none;
  border-top: solid 1px #F2F2F2;
  border-bottom: solid 1px #F2F2F2;
}

.research-bar::placeholder {
  color: black;
  font-size: 18px;
  font-weight: 600;
}

/* bouton */
.button-research {
  border: none;
  border-radius: 0 14px 14px 0;
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  font-size: 16px;
  padding: 17px;
  cursor: pointer;
}

.button-research:hover {
  background-color: #003c96;
  transition: ease 0.3s;
}

.fa-magnifying-glass {
    color: white;
}

.mobile-loupe {
  display: none; /* cache la loupe sur desktop */
}

/*********** Filters ***********/

.filters h2 {
    font-size: 1.2rem;  /* comme un h3 */
  font-weight: 600;
  margin: 0;
}

.filters{
    display: flex;
    gap: 20px;                 /* espace entre le titre et les pills */
    padding-top: 20px;
    padding-bottom: 20px;
}

.filters h3{
    margin: 0 8px 0 0;         /* collé au premier pill */
    font-size: 17px;
}

/* Pill */
.btn-filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;                 /* espace icône/texte */
    padding: 15px 20px;
    border: 2px solid var(--main-bg-color);
    border-radius: 30px;
    background: #fff;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    min-width: 150px;
}

/* Pastille icône */
.btn-filter .icon{
    display: grid;
    place-items: center;
    width: auto;
    height: auto;
    border-radius: 50%;
 
}

.btn-filter i{
  color: var(--main-color);
  font-size: 18px;
}

.btn-filter .label {
    line-height: 1; 
}

/* Hover / focus */
.btn-filter:hover{
    background: var(--filter-bg-color);
    border-color: var(--filter-bg-color);   
    box-shadow: 0 6px 16px rgba(0,0,0,.08);
}

.btn-filter:focus-visible{
    outline: 2px solid var(--main-color);
    outline-offset: 2px;
}

.info .fa-solid {
  color: #0065fc;
  font-size: 16px;
  padding: 7px 11px 7px 11px;
  border: solid 1px #D9D9D9;
  border-radius: 2000px;
  margin-right: 20px;
}

.info p {
  display: inline;
}


/*********** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 30px;
}

/*********** Hebergement ***********/

.hebergements {
    width: 65%;
    display: flex;  
    flex-direction: column;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0; 
}

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    margin: 0;
    
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    margin-top: 20px;           /* = gap de la grille */
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*********** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********** Activites ***********/

.activites {
    padding: 0 30px;
    margin-top: 50px;
}

.activites-title {
    margin-bottom: 20px;
}

.activites-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cartes côte à côte */
    gap: 20px;
}

.activites-cards .card {
    display: flex;
    flex-direction: column;
    padding: 0; /* pas de padding interne dans les cartes d’activités */
    overflow: hidden;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.activites-cards .card-content {
    padding: 15px;
    height: 35px;
    display: flex;
    align-items: center;
}

.activites-cards .card-title {
    margin: 0;
}

/****** Footer ***********/
.footer {
  background: var(--main-bg-color);
  padding: 40px 30px;
  margin-top: 40px;
  box-sizing: border-box;
}

.footer-columns {
  display: flex;
  gap: 80px; /* espace entre colonnes */
}

.footer-col { 
  flex: 1; 
  min-width: 0;
}

.footer-title {
  margin: 0 0 16px;
  font-size: 18px;
}

.footer-list {
  list-style: none;
  padding: 0; /* supprime le décalage à gauche */
  margin: 0;
}

.footer-list li { 
  margin: 12px 0; 
}

.footer-list a {
  color: inherit;
  text-decoration: none;
}

.footer-list a:hover { 
  text-decoration: underline; 
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/*********** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .filters {
      flex-wrap: wrap;           /* permet aux boutons de passer à la ligne si ça déborde */
    align-items: flex-start;
    }

    .filters h2 {
    flex-basis: 100%;          /* prend toute la largeur → pousse les boutons en dessous */
    }

  .activites-cards img {
    width: 100%;      /* s’adapte à la largeur du container */
    height: 150px; 
    object-fit: cover; 
  }


}

/* Small devices (phones, less than 768px) */

@media (max-width: 767.98px) {

    .main-container {
        margin: 0;
        padding: 0;
    }
    
 /* Header */
  .navbar {
    flex-direction: column;
    align-items: center;
    width: 100%;
    align-content: space-around;
    
  }

   .nav-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 0;
    flex-wrap: wrap;
  }

 .nav-links a {
    flex: 1 1 45%; /* deux liens par ligne */
    text-align: center;
    padding-bottom: 16px;
    border-top: none;
    border-bottom: 2px solid #F2F2F2;
    margin-top: 20px;
  }

  .nav-links a:hover,
  .nav-links a.active {
    border-bottom-color: var(--main-color); /* la barre bleue apparaît en bas */
  }

  .mobile-padding  {
     padding: 0 25px;
  }

  .research-box {
    width: 100%;
  padding: 0 10px; /* petite marge interne gauche/droite */
  box-sizing: border-box; /* pour inclure le padding dans la largeur */
  }

     #button-research {
    display: none;  /* on cache le bouton texte */
  }

    .mobile-loupe {
    display: inline-flex;
    }

    /* Filtres */
    .filters {
        display: flex;
        flex-wrap: wrap;
    }

    .btn-filter {
    flex: 1 1 45%; /* deux filtres par ligne */
  box-sizing: border-box;
    }


    /* Sections hébergements et populaires */
   .hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse; /* inverse l'ordre */
  }

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .hebergements-and-populaires .hebergements {
    background-color: white;
    }

  .populaires-cards,
  .hebergements-cards,
  .activites-cards {
     display: flex;
  flex-direction: column;
  }

  .populaires-cards a {
        width: 100%;
    }

.footer-columns {
    display: flex;
    flex-direction: column; /* met les sections en colonne */
    gap: 20px; /* espace entre chaque bloc */
}

}
    
 
